
<div class="container row p-4 m-5">
    <div class="card p-4 m-3" style="width: 22rem;">
        <img src="../../../assets/imagem/water-cooler-rise-mode-gamer-black-rgb-240mm-rm-wcb-02-rgb_1629387954_gg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Water Cooler Rise</h5>
          <p class="card-text text-success">R$500,00</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

<div class="card p-4 m-3" style="width: 22rem;">
    <img src="../../../assets/imagem/1xg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cadeira Gamer Fox</h5>
      <p class="card-text text-success">R$3,000,00</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

<div class="card p-4 m-3" style="width: 22rem;">
    <img src="../../../assets/imagem/monitor-gamer-samsung-odyssey-g5-34-curvo-165hz-1ms-ultra-wqhd-hdmi-displayport-amd-freesync-premium-preto-lc34g55twwlxzd_1617796497_gg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Monitor Samsung UHD</h5>
      <p class="card-text text-success">R$2,000,00</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card p-4 m-3" style="width: 22rem;">
    <img src="../../../assets/imagem/processador-amd-ryzen-9-5950x-cache-72mb-3-4ghz-4-9ghz-max-turbo-am4-100-100000065box_1602603581_g.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">AMD Ryzen 5 5600G</h5>
      <p class="card-text text-success">R$1,500,00</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card p-4 m-3" style="width: 22rem;">
    <img src="../../../assets/imagem/processador-intel-core-i5-10400f-290ghz-430ghz-turbo-10-geracao-6-cores-12-threads-lga-1200-bx8070110400f_96779.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">I5 10400F</h5>
      <p class="card-text text-success">R$800,00</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card p-4 m-3" style="width: 22rem;">
    <img src="../../../assets/imagem/rx6650.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rx6650Xt</h5>
      <p class="card-text text-success">R$2,050,00</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>
  


